@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@{
    Layout = "~/Views/Shared/_MyLogin.cshtml";
}

<link href="~/assets/css/my-custom-Landing.css" rel="stylesheet" type="text/css">

<!-- Template -->
<div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
        @*<div class="logo">
                <a href="index.html"><img src="assets/img/kingadmin-logo.png" alt="" /></a>
            </div>*@
        @*<button type="button" class="btn btn-auth-facebook"><span>Login via Facebook</span></button>*@
        <div class="logInHeader">
            <h1 id="landingHeader">Bug Tracker</h1><br /><br />
        </div><br /><br /><br />
        @*<div class="separator"><span>OR</span></div>*@
        <div class="login-box center-block" id="logInBox">
            <div class="text-center">
                <p id="forgotPwordConfirm" class="text-center">
                    Please check your email to reset your password.
                </p>
                <br />
                <button class="btn-lg" id="backToLogIn">
                    @*<a href="@Url.Action("About","Home")">Login</a>*@
                    @Html.ActionLink("Back to Login", "Login")
                </button>
            </div>
        </div>
    </div>
</div>



@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>*@
	
